.App {
  text-align: center;
  /* border: solid red; */
}

.bigBox{
  display: flex;
  justify-content: center;
  
  /* border: 2px solid yellow; */

}

.leftBox{
  width: 50%;
  height: 100vh;
  /* border: 2px solid green; */
  background-color: lavender;
}

.rightBox{
  width: 50%;
  height: 100vh;
  /* border: 2px solid blue */
}

h1{
  margin-top: 40%;
}

a.github {
  color: black;
}