.App {
  text-align: center;
  border: solid red;
}

.bigBox{
  display: flex;
  justify-content: center;
  border: 2px solid yellow;

}

.leftBox{
  width: 50%;
  height: 100vh;
  border: 2px solid green;
}

.rightBox{
  width: 50%;
  height: 100vh;
  border: 2px solid blue
}